.titleOnIdeas{
	font-size: 36px;
	text-align:center;
	margin-top:90px;
}
.textClick{
	font-size: 30px;
	color:white;
}
.groupListText{
	font-size: 14px;
}
.titles{
	font-size: 24px;	
	margin-top:20px;
	margin-left:0 !important;
	color:black;
}
.navbar-collapse{
	height:76px;
}
.navBar{
	background-color:WhiteSmoke;
}
.carousel{
	max-width:700px;
	margin: auto 0;
}
.helpForHidden{
	text-align:center;
}
.navBarRight{
	font-size: 16px;
	margin-top:35px;
	margin-right:20px;
	padding-bottom:-10px;
	color:black;
	font-weight:bold;
}
.marginForHtml{
	margin-top:110px;
}
.navbar-default {
	background-color: none;
	border-color: none;
}
.navActive{
	border-bottom: 2px solid red;
}
.myClear{
	clear:both;
}
.helpHr{
	margin-bottom:20px;
}
.freeField{
	padding:10px;
}

.saveBut{
	margin-left:600px;
	margin-top:-60px;
}

input.ng-invalid, input.ng-invalid:hover, input.ng-invalid:focus{
	border-color:red;
	color:red;
}

textarea.ng-invalid, textarea.ng-invalid:hover, textarea.ng-invalid:focus{
	border-color:red;
	color:red;
}
#editBut{
	margin-left:150px;
}
.placeInputs{
	margin-bottom:10px;
}
.pressed{
	background-color:#52504D;
}
.center{
	text-align:center !important;
	font-style:italic;

}
#backImg{
	margin-left:-220px;
	width:1200px;
	height: 510px;
	background: WhiteSmoke !important;
	padding-top:20px;
	margin-bottom:10px;	
}
img{
	max-width:700px !important;
}
.centerImg{
	margin-left:250px;

}
.titleClass{
		margin-top:120px;
}
.carousel{
	margin-left:30px;
}